/* Gradients */

.orange {
  background: linear-gradient(180deg, #FF9472 0%, #F2709C 100%);
}

.rouge {
  background: linear-gradient(180deg, #AD5389 0%, #3C1053 100%);
}

.blue {
  background: linear-gradient(180deg, #59AFFF 0%, #0085FF 100%);
}

.green {
  background: linear-gradient(180deg, #B6F492 0%, #338B93 100%);
}

/* Layout */

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .25;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(#6C5CE7 0%, #5545D3 100%);
  overflow: hidden;
  z-index: 0;
  padding-bottom: 30px;
}

.hero:before {
  content: "";
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 54.69%, rgba(0, 0, 0, 0.1) 100%);
  background-repeat: repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  border-radius: 8px;
  padding: 1.5em;
  transition: all 150ms;
  -webkit-transition: all 150ms;
  box-shadow: 0 0 10px rgba(60, 60, 60, .05);
}

.card:before {
  content: "";
  background: url(../../images/dashboard/background-circles.svg);
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 8px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 150ms;
  -webkit-transition: all 150ms;
}

.card span, .card svg, .card img {
  position: relative;
  z-index: 1;
}

.card svg {
  margin-bottom: 10px;
}

span.card-prehead {
  color: #FFF; 
  opacity: .9; 
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

span.card-title {
  color: #FFF; 
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

span.card-description {
  color: #FFF; 
  opacity: .9; 
  font-size: 14px;
  min-height: 37.71px;
}

span.card-author {
  color: #FFF; 
  opacity: .8; 
  font-size: 14px;
  margin-left: 5px;
}

.card img {
  width: 35px;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
}

.card section.card-info, .card section.card-count {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.card-second-row {
  margin-top: 2em;
}

/* Mobile Layout */

@media only screen and (max-width:62em) {

  .card-first-row {
    margin-top: 2em;
  }

}

@media only screen and (max-width:48em) {

  .card-first-row {
    margin-top: 0em;
  }

  .card-second-row {
    margin-top: 0em;
  }
  
  .card-first-row .card:last-child {
    margin-top: 2em;
  }

  .card-second-row .card:last-child {
    margin-top: 2em;
  }
  
}